<!-- <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">
    <style>
        .logos {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .logos img {
            padding-top: 10px;
        }

        h1 {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: italic;
        }


        
    </style>
</head>

<div class="logos">
    <h1>A.I Motorsports Family</h1>
    {{ $image := resources.Get "images/scuderia.png" }}
    {{ $image := $image.Resize "600x" }}
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
    {{ $mcl := resources.Get "images/mclprawn.png" }}
    {{ $mcl := $mcl.Resize "600x" }}
    <img src="{{ $mcl.RelPermalink }}" width="{{ $mcl.Width }}" height="{{ $mcl.Height }}">
    {{ $pgp := resources.Get "images/PGP_1.png" }}
    {{ $pgp := $pgp.Resize "600x" }}
    <img src="{{ $pgp.RelPermalink }}" width="{{ $pgp.Width }}" height="{{ $pgp.Height }}">
    {{ $champ := resources.Get "images/PRACTICECHAMP.png" }}
    {{ $champ := $champ.Resize "600x" }}
    <img src="{{ $champ.RelPermalink }}" width="{{ $champ.Width }}" height="{{ $champ.Height }}">
</div> -->